<div class="container" data-ng-controller="LoginCtrl">
  <form class="form-signin" ng-submit="login()">
        <h2 class="form-signin-heading">sign in to gschool</h2>
        <div class="alert alert-danger animated fadeIn" ng-show="loginerror">{{loginerror}}</div>

        <div class="login-wrap">
            <div class="user-login-info">
                <input required ng-model="user.username" type="text" class="form-control" name="username" placeholder="User ID" autofocus>
                <input required ng-model="user.password" type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

                </span>
            </label>
            <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>

            <div class="registration">
                <br>
                Don't have an account yet?
                <a class="" href="#!/register">
                    Create an account
                </a>
            </div>

        </div>
</form>
          <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog" data-ng-controller="ForgotPasswordCtrl">
                  <div class="modal-content">
                      <form ng-submit="forgotpassword()">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Forgot Password ?</h4>
                      </div>
                      <div class="modal-body">
                          <div class="alert alert-{{response.status}} animated fadeIn" ng-show="response.message">{{response.message}}</div>
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="email" required name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix" ng-model="text">

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                          <button class="btn btn-success" type="submit">Submit</button>
                      </div>
                      </form>
                  </div>
              </div>
          </div>
          <!-- modal -->


</div>