
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a href="/" class="{{global.homeActive}}">
                    <i class="fa fa-dashboard"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="/#!/classes" class="{{global.classActive}}">
                    <i class="fa fa-th"></i>
                    <span>Classes</span>
                </a>
                
            </li>
            <li class="sub-menu">
                <a href="/#!/notes" class="{{global.noteActive}}">
                    <i class="fa fa-book"></i>
                    <span>Notes</span>
                </a>
             
            </li>
            <li>
                <a href="/#!/messages" class="{{global.messageActive}}">
                    <i class="fa fa-envelope"></i>
                    <span>Messages </span>
                </a>
            </li>
             <li>
                <a href="/#!/directory" class="{{global.directoryActive}}">
                    <i class="fa fa-group"></i>
                    <span>Directory </span>
                </a>
            </li>
            
           
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>