
    <!--  notification start -->
    <ul class="nav top-menu">
        <!-- settings start -->
        <li class="nav navbar-nav">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-tasks"></i>
                <span class="badge bg-success">8</span>
            </a>
            <ul class="dropdown-menu extended tasks-bar">
                <li>
                    <p class="">You have 8 pending tasks</p>
                </li>
                <li>
                    <a href="#">
                        <div class="task-info clearfix">
                            <div class="desc pull-left">
                                <h5>Target Sell</h5>
                                <p>25% , Deadline  12 June’13</p>
                            </div>
                                    <span class="notification-pie-chart pull-right" data-percent="45">
                            <span class="percent"></span>
                            </span>
                        </div>
                    </a>
                </li>

                <li class="external">
                    <a href="#">See All Tasks</a>
                </li>
            </ul>
        </li>
        <!-- settings end -->
        <!-- inbox dropdown start-->
        <li id="header_inbox_bar" class="nav navbar-nav">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-important" data-ng-show="global.unreadInbox">{{global.unreadInbox}}</span>
            </a>
            <ul class="dropdown-menu extended inbox">
                <li>
                    <p class="red">You have {{global.unreadInbox}} unread Mails</p>
                </li>
                <li data-ng-repeat="msg in global.messages">
                    <a ng-click="global.showModal(msg);">
                        <span class="photo"><my-avatar type="small" userid="{{msg.from._id}}" file="{{msg.from.avatar}}"></my-avatar></span>
                                <span class="subject">
                                <span class="from">{{msg.from.name}}</span>
                                <span class="time"><span data-livestamp="{{msg.dateSent}}"></span></span>
                                </span>
                                <span class="message" ng-bind-html="msg.message | limitTo:40">
                                </span>
                    </a>
                </li>
                <li>
                    <a href="#!/messages">See all messages</a>
                </li>

            </ul>
        </li>
        <!-- inbox dropdown end -->
        <!-- notification dropdown start-->
        <li id="header_notification_bar" class="nav navbar-nav">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                <i class="fa fa-bell-o"></i>
                <span class="badge bg-warning">3</span>
            </a>
            <ul class="dropdown-menu extended notification">
                <li>
                    <p>Notifications</p>
                </li>
                <li>
                    <div class="alert alert-info clearfix">
                        <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                        <div class="noti-info">
                            <a href="#"> Server #1 overloaded.</a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <!-- notification dropdown end -->
    </ul>
    <!--  notification end -->
