    <!--search & user info start-->
    <ul class="nav pull-right top-menu">
        <li>
            <form ng-controller="DashboardController" ng-submit="presearch()">
            <input id="keyword" name="keyword" type="text" class="form-control search" placeholder="Search">
            </form>
        </li>
        <!-- user login dropdown start-->
        <li class="nav navbar-nav">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <my-avatar userid="{{userinfo._id}}" type="small" file="{{userinfo.avatar}}"></my-avatar>
                <span class="username">{{userinfo.name}} </span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <li><a href="#!/profile"><i class=" fa fa-suitcase"></i>Profile</a></li>
                <li><a href="#!/profile/calendar"><i class="fa fa-calendar"></i> Your calendar</a></li>
                <li><a href="#!/profile/setting"><i class="fa fa-cog"></i> Settings</a></li>
                <li><a href="/logout"><i class="fa fa-key"></i> Log Out</a></li>
            </ul>
        </li>
        <!-- user login dropdown end -->
        <li>
            <div class="toggle-right-box">
                <div class="fa fa-bars"></div>
            </div>
        </li>
    </ul>
    <!--search & user info end-->
